{{!--me and Kayla atempt--}}

{{!-- <h1>Home Page</h1>


<form class="artistSearch" action="/artists-search" method="get">
    <label for="artistInput"></label>
    <input id="artistInput" type="text" name="theArtistName" placeholder="Ins
    sert astist name here..." value="">

    {{!-- <label for="descriptionInput">Description</label>
    <input id="descriptionInput" type="text" name="description" value="">

    <label for="priorityInput">Priority</label>
    <input id="priorityInput" type="number" name="priority" value="" placeholder="5"> --}}

    <button type="submit">Search for artist</button>

</form> --}}

{{!-- Sandras solution below--}}

<form action="/artist-search" method="get">
    <input type="text" name="theArtistName" id="" placeholder="Insert artist name here..." />
    <button type="submit"> Find artists! </button>
</form>