<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav class=navbar>
    <a href="/">Home</a>
    <a href="/artists">Artists</a>
 {{!-- <a href="/task-list">Look at Task List</a> --}}
  </nav>
<h1>Spotify</h1>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>

{{!-- <!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Spotify review</title>
    </head>

    <body>
        <h1>The best ever Spotify app 🎶</h1>
        {{{ body }}}
    </body>

</html> --}}